img {
	width: 100%;
}
.thingLink {
	background: #fff;
	margin-top: -150px;
	margin-left: 97px;
	border: 2px solid black;
	padding: 5px 10px;
	border-radius: 15px;
	position: absolute;
}

.columns {
	position: relative;
}

.thingLink2 {
	margin-top: -187px;
	margin-left: 141px;
}

.small {
	font-size: 12px;
}

#setupToggle {
	cursor: pointer;
}

.count {
	font-size: 90px;
}

.heading {
	font-size: 60px;
}